{% extends 'events/base.html' %}

{% block content %}
<center>

</br></br></br></br></br>
 
 
  <h1 class="display-5">About Us</h1></br>
  <div class="mid-content" id="background-container"
    style="background-image: url('https://wallpapercave.com/wp/mN6dvxE.jpg');margin:0;width:100%;height:100%;background-size: cover;background-repeat: no-repeat; background-attachment:scroll;background-position: 100%; ">
    
    
    <h2 class="About__subTitle">Please Join Center's Telegram to see the Updates.</h2>
    <div>
      <div>
        <p class="Header__socialItem"><a href="http:www.telegram.com" class="Header_socialLink" target="_blank"><i
              class="fab fa-telegram"></i></a></p>
      </div>
      <div>
        <p class="Header__socialItem"><a href="http:www.facebook.com" class="Header_socialLink" target="_blank"><i
              class="fab fa-facebook"></i></a></p>
      </div>
    </div>
  
    <ul style="background-size: cover;background-attachment: fixed;background-position: 0ex;color: rgb(6, 86, 88);">
      <ol>
        <h3>
          <p class="text-start; font-family: Trirong, serif;"><strong>Ershad Center Offers the Following Programs:
            </strong></p>
        </h3></br>
      </br></br>
      </ol>
    </br>
      <ol>
        <h5>
          <p class="text-start"><strong>*Dua Komail Program on Thursday evening.</strong></p>
    
        </h5>
      </ol>
      <ol>
        <h5>
          <p class="text-start"><strong>*Jom'a Salat.</strong></p>
        </h5>
      </ol>
      <ol>
        <h5>
          <p class="text-start"><strong>*Special programs during Muharram, Fatemieh, and Ramadan.</strong></p>
        </h5>
      </ol>
      <ol>
        <h5>
          <p class="text-start"><strong>*Commemoration of Birth of Masoumeen.</strong></p>
        </h5>
      </ol>
      <ol>
        <h5>
          <p class="text-start"><strong>*Commemoration of Martyrdom of Masoumeen.</strong></p>
        </h5>
      </ol>
      <ol>
        <h5>
          <p class="text-start"><strong>*Celebration of Eids.</p>
          </h>
      </ol>
    </ul>
 
  </div>
</br></br></br></br></br></br></br></br></br></br>


    <div
      style=" background-color:bisque;margin:0;width:100%;height:100%;background-size: csstransforms3d;background-repeat: no-repeat; background-attachment: fixed;background-position: 100%;">
      <style>
        li {
          display: inline;
          font-family: arial;
        }
      </style>
      <div id="background"
      style="background-size:cover;background-position: auto;background-repeat: no-repeat;background-image: url('https://th.bing.com/th/id/R.2ea31fc9dc45b41d0c97f3705e782b96?rik=ldvM0NqeKWpT3g&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fYATc6FV.jpg&ehk=gg1hxPdDFVJ%2buH1TnemCfqZjpR2vilEfeRLlRGFFF0c%3d&risl=&pid=ImgRaw&r=0')
      ;">
       <h1 class="display-5">Learn Islam</h1></br>
       <div id="background" style="background-repeat:no-repeat;background-image: url('https://ak.picdn.net/shutterstock/videos/1040949563/thumb/6.jpg?ip=x480');background-size: cover;">
        <br/><br/>
      <ul class="menue">
        <li>
          <iframe width="360" height="215" src="https://www.youtube.com/embed/ZS6tsURIXxY" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </li>
        <li>
          <iframe width="360" height="215" src="https://www.youtube.com/embed/PDxKxnVZtgo" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </li>
        <li>
          <iframe width="360" height="215" src="https://www.youtube.com/embed/MWqrIPba8ac" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </li>
        <iframe width="360" height="215" src="https://www.youtube.com/embed/9snYIesAZuM" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </ul>
   
    </div>


    
  <div id="background"
    style="background-size:cover;background-position: auto;background-repeat: no-repeat;background-image: url('https://th.bing.com/th/id/R.2ea31fc9dc45b41d0c97f3705e782b96?rik=ldvM0NqeKWpT3g&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fYATc6FV.jpg&ehk=gg1hxPdDFVJ%2buH1TnemCfqZjpR2vilEfeRLlRGFFF0c%3d&risl=&pid=ImgRaw&r=0')
    ;">
     
    <h1 class="display-5">PrayTime</h1></br>
    <div id="background" style="background-image: url('https://wallpapercave.com/wp/8TElpjz.jpg') ">
        <br/><br/>   
        <script type="text/javascript" src="http://www.muslimpro.com/muslimprowidget.js?cityid=4164138&convention=Tehran&asrjuristic=Standard" async></script>
       <br/>
       <script type="text/javascript" src="http://praytimes.org/code/v2/js/examples/monthly.htm"></script> 
      </div> 
      <br/><br/> <br/><br/>
    </div>
    <div>
      
    </div>
   
</div>
</div>

	<h1>Hello {{ name }}! Events For {{ month }} {{ year }}</h1>

	As of {{ time }}
	<br/><br/>
	{{ cal|safe }}
	<br/><br/>
</center>
	<h3>Events This Month...</h3>


  <br /><br />
</div>

{% endblock %}